body {
    font-family: sans-serif;
}
header{
    background-color: #82217A;
}
img{
   width: 70px;
   height: 70px;
}
h4{
    color:white;
}
h1{
    color:white;

}
p{
    color:white;
}
main{
    background-color: #AD009F;
}
footer{
    background-color: #710067;
}
.icon{
    width: 666px;
    height: 360px;
    border-radius: 15%;
}
.p{
    text-align: center;
}
